html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--text-color);
  background: rgb(48, 48, 48);
  background: radial-gradient(
                  circle,
                  rgba(48, 48, 48, 1) 0%,
                  rgba(64, 64, 64, 1) 33%,
                  rgba(48, 48, 48, 1) 100%
  );
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100vw;
}


.main {
  width: 100vw;
  min-height: 100vh;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color)
}