.container {
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song_image {
  box-shadow: var(--box-shadow);
}

.song_name {
  font-size: 18px;
  text-align: center;
}


.radio_buttons {
    width: 55px;
    height: 55px;

}

.buttons_container {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}

#shuffle {
  margin-top: 10px;
  height: 45px;
}