.container {
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song_image {
  box-shadow: var(--box-shadow);
}

.song_name {
  font-size: 18px;
  text-align: center;
}

.song_artist {

}